<div class="container-nov">
	<div class="row">
		<div class="col">
<h3 id="novedades-saludo">  Hola {{nombre}}! :)
	<hr>
	<a href="/admin/login/logout" class="text-right" id="btn-cerrar-sesion"> Cerrar sesión </a></h3>

    	</div>
	</div>
</div>
